.profile
    background #fff
    position relative
    padding 10px
    height 100%
    
    &__wrap
        height 100%
        flex-basis 25%
    
    &__info
        text-align center
    
    &__logo
        text-align center
        
    &__logo__img
        height 100px
        
    &__name,
    &__mail
        border-bottom 1px solid #aaa
        margin-top 10px
        color #aaa
        
    &__sign-out
        margin-top 20px
        cursor pointer
        float right
