@media only screen and (max-width: 600px)
    .content-wrap
        flex-direction column
        justify-content: flex-start;
        height: 100%;

    .todo-content__wrap
        margin-top 30px
        height initial
        
    .profile
        text-align center  
        &__wrap
            height initial
            
        &__sign-out
            float none
            width 20%
        
    .auth-start
        width 100%
        
    .todo-item
        &__delete
            display none
        &__delete__small
            display inline-block
            
    .todo-panel
        &__add
            display none
        &__add__small
            display inline-block
        
    
